header.bar-title
  a.button-prev(href='javascript:window.history.back();') Back
  h1.title Tracks
  a.button(href='javascript:;', ng-click='clear()', ng-show='clearEnabled') Clear

.content
  ul.list
    li.track.list-item(ng-repeat='track in playlist.data.tracks')
      a(href='javascript:;', ng-click='viewTrack(track)')
        span.list-title {{ track.title }}
        .artist-album
          span.artist {{track.artist}}
          span.hyphen(ng-show='track.album') &nbsp;-&nbsp;
          span.album {{track.album}}
        span.chevron