header.bar-title
  a.button(href='/currplaylist', data-transition='slide-in') Playlist
  h1.title Now Playing
  a.button(href='/search', data-transition='slide-in') Add Song

.bar-standard.bar-footer.volume(ng-show='status.status.volume')
  i.icon-volume-down.icon-large
  input(type='range', ng-change='volume()', ng-model='volRange', value='{{status.status.volume}}')
  i.icon-volume-up.icon-large

.content
  .img-holder(ng-show="status.status.track")
    img.img-polaroid.img-rounded(ng-src='{{status.status.track.images.extralarge}}', src='/images/backup_image.png')
    .toolbar.transparent
    .toolbar
      a.control.pull-right(href='javascript:;', ng-click='like()')
        i.icon-thumbs-up-alt.icon-2x
      a.control.pull-right.right-spacing(href='javascript:;', ng-click='dislike()')
        i.icon-thumbs-down-alt.icon-2x
      a.control.pull-left(href='javascript:;', ng-click='pause()', ng-class="{ true: 'selected', false: '' }[status.status.paused]")
        i.icon-pause.icon-2x
      a.control.pull-left.left-spacing(href='javascript:;', ng-click='skip()')
        i.icon-forward.icon-2x
  .details(ng-show="status.status.track")
    span.track {{status.status.track.title}}
    .artist-album
      span.artist {{status.status.track.artist}}
      span.hyphen(ng-show='status.status.track.album') &nbsp;-&nbsp;
      span.album {{status.status.track.album}}

  .img-holder(ng-hide="status.status.track")
    img.img-polaroid.img-rounded(src='/images/backup_image.png')
  .details(ng-hide="status.status.track")
    span.track No Tracks in Playlist
