header.bar-title
  a.button-prev(href='javascript:window.history.back();') Back
  h1.title Playlists

.content
  ul.list
    li.playlist.list-item(ng-repeat='playlist in playlists.data')
      a(href='javascript:;', ng-click='viewPlaylist(playlist)')
        span.list-title {{ playlist.name }}
        span.chevron