header.bar-title
  a.button-prev(href='javascript:window.history.back();') Back
  h1.title Track
  a.button(href='javascript:;', ng-click='add()', ng-hide='cantAdd || track.data.inPlaylist') Add

.content
  .img-holder
    img.img-polaroid.img-rounded(ng-src='{{track.data.images.extralarge}}', src='/images/backup_image.png')
  .details
    span.track {{track.data.title}}
    .artist-album
      span.artist {{track.data.artist}}
      span.hyphen(ng-show='track.data.album') &nbsp;-&nbsp;
      span.album {{track.data.album}}
